.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.qwerty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.key {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.cowboy {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 100px;
  gap: 10px;
}

.accessories {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
